html, body {
	background-color: #21231A;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.3rem;
	padding: 70px;
}

button {
	padding: 1rem;
	font-size: 1.3rem;
	background-color: aliceblue;
	box-shadow: 1 1 0 1;
}